---
layout: default
layout_class: "foo"
---

<div class="container docs-page">
  <nav class="docs-navigation" id="docs-navigation">
    <%= render "docs_navigation" %>
  </nav>

  <main class="content" id="main">
    <h1><%= resource.data.title %></h1>

    <%= yield %>
  </main>
</div>
