---
layout: default
---

<!-- To make this page visible, change the `dev` collection to `output: true` and activate the `media.css` in the `index.css` stylesheet. -->

<div class="media-resources">
  <h1>Icons</h1>

  <h2>500px</h2>
  <div class="media-icon-500">
    <span>L</span>
  </div>

  <h2>180px</h2>
  <div class="media-icon-180">
    <span>L</span>
  </div>

  <h2>32px</h2>
  <div class="media-icon-32">
    <span>L</span>
  </div>

  <h2>16px</h2>
  <div class="media-icon-16">
    <span>L</span>
  </div>
</div>
