---
layout: home
page_class: "home"
full_title: "Lintje: Write good commits for your team"
description: "A Git linter made to improve communication in teams. Make sure commits and branches tell the story of why the commit was made."
---

<section class="home-section hero-section">
  <div class="container">
    <h1>Write good commits for your team</h1>

    <p>Lintje is an opinionated linter for Git, promoting communication in teams.</p>
    <p>Write commits for Pull Request reviewers. Prepare necessary context for team members in debug sessions many months from now.</p>

    <div class="cta">
      <a class="button" href="/docs/introduction/">
        Get started with Lintje
        <%= icon "arrow-right-solid", :class => "icon-white" %>
      </a>
      <div>
        <a class="download-link" href="/posts/lintje-<%= site.metadata.latest_version.tr(".", "-") %>/">
          Latest release: <%= site.metadata.latest_version %>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="home-section dark-section">
  <div class="container">
    <h2>Write a story</h2>

    <p>Good commits tell a story. They add context to your Git commits and branches. A commit should explain the problem it solves, the chosen solution and what alternatives were considered.</p>

    <p>Lintje checks a variety of rules, from style to content. Some of these rules are:</p>

    <ul>
      <li>The subject describes the change. No "WIP", "Closes #123", "Fix" or "Fixed bug", but "Fix bug in email validation for new subscribers".</li>
      <li>There is a message body present. Explain why the change was necessary. Describe the chosen solution. Explain why the alternatives you considered didn't work as well.</li>
      <li>The message body contains a reference to a tracking issue.</li>
      <li>The commit contains file changes. No need to make a commit if it contains nothing.</li>
      <li>Fixup and squash commits are rebased before merging.</li>
      <li>Avoid merge commits from remote branches. Rebase the branch instead.</li>
      <li>Branch names describe the topic of the changes. No "fix-bug", "fix-123", but "fix-subscriber-email-validation" or "fix-123-subscriber-email-validation".</li>
    </ul>

    <div class="text-center cta">
      <a href="/docs/rules/" class="button button-secondary">Read about Lintje's rules</a>
    </div>
  </div>
</section>

<section class="home-section">
  <div class="container">
    <h2>Resolve issues faster</h2>

    <p>Lintje helps resolve issues quickly. Lintje <a href="/docs/output/">explains the issue</a> by highlighting the problem is and showing how to resolve it.</p>

    <%= partial "usage_example" %>

    <div class="text-center cta">
      <a href="/docs/output/" class="button button-secondary">Learn about Lintje's output</a>
    </div>
  </div>
</section>

<section class="home-section getting-started-section">
  <div class="container">
    <h2>Get started</h2>

    <div class="columns">
      <div class="box text-center">
        <div><a href="/docs/">Read the guides</a></div>
        <p>Learn more about how Lintje works and how to install it into your project.</p>
      </div>

      <div class="box text-center">
        <div><a href="https://tomdebruijn.com/posts/git-is-about-communication/">Git is about communication</a></div>
        <p>Read more about the philosophy of Lintje by reading the post that inspired it.</p>
      </div>
    </div>
  </div>
</section>
