---
layout: home
page_class: "home"
full_title: "Lintje: A Git linter for people"
description: "A Git linter for people focussed on communication in teams and future readers."
---

<section class="home-section hero-section">
  <div class="container">
    <h1>A Git Linter for People</h1>

    <p>Lintje is a Git linter made for people. Not computers.</p>

    <p>Lintje is an opinionated linter for Git, promoting communication in teams. Write commits for people reading them during reviews and debug sessions many months from now.</p>

    <div class="cta">
      <a class="button" href="/docs/introduction">
        Get started with Lintje
      </a>
      <div>
        <a class="download-link" href="/posts/lintje-<%= site.metadata.latest_version.tr(".", "-") %>">
          Latest release: <%= site.metadata.latest_version %>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="home-section dark-section">
  <div class="container">
    <h2>Write a story</h2>

    <p>Good commits tell a story. They add context to your Git commits and branches. A commit should explain the problem it solves, what the chosen solution is and what alternatives were considered.</p>

    <p>Lintje helps by checking a variety of rules, from style to content. Some of these rules are:</p>

    <ul>
      <li>The subject describes the change in detail. No "Fixing bugs" allowed.</li>
      <li>The subject does not start with a prefix: fix, feat, doc, refactor, etc.</li>
      <li>The subject has a maximum of 50 characters.</li>
      <li>The message body contains a reference to the issue it's a part of.</li>
      <li>Message body lines are a maximum of 72 characters, excluding URLs and code examples.</li>
      <li>A commit should contain file changes.</li>
      <li>Fixup and squash commits need to be rebased before merging.</li>
      <li>Avoid merge commits in feature branches, rebase the branch instead.</li>
      <li>Branch names describe the topic of the changes.</li>
      <li>Branch names don't <em>only</em> include a ticket number.</li>
    </ul>

    <div class="text-center cta">
      <a href="/docs/rules" class="button button-secondary">Read about Lintje's rules</a>
    </div>
  </div>
</section>

<section class="home-section">
  <div class="container">
    <h2>Detailed help</h2>

    <p>Lintje doesn't just list a bunch of problems, it explains what's wrong and helps resolve issues quicker.</p>

    <%= partial "usage_example" %>
  </div>
</section>

<section class="home-section">
  <div class="container">
    <h2>Get started</h2>

    <div class="columns">
      <div class="box text-center">
        <div><a href="/docs/">Read the guides</a></div>
        <p>Learn more about how Lintje works and how to install it into your project.</p>
      </div>

      <div class="box text-center">
        <div><a href="https://tomdebruijn.com/posts/git-is-about-communication/">Git is about communication</a></div>
        <p>Read more about the philosophy of Lintje by reading the post that inspired it.</p>
      </div>
    </div>
  </div>
</section>
