---
layout: home
page_class: "home"
full_title: "Lintje: Write good commits for your team"
description: "A Git linter made to improve communication in teams. Make sure commits and branches tell the story of why the commit was made."
---

<section class="home-section hero-section">
  <div class="container">
    <h1>Write good commits for your team</h1>

    <p>Lintje is an opinionated linter for Git, promoting team communication in Git.</p>

    <div class="cta">
      <a class="button" href="/docs/introduction/">
        Get started with Lintje
        <%= icon "arrow-right-solid", :class => "icon-white" %>
      </a>
      <div>
        <a class="download-link" href="/posts/lintje-<%= site.metadata.latest_version.tr(".", "-") %>/">
          Latest release: <%= site.metadata.latest_version %>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="home-section dark-section usp-section">
  <div class="container">
    <h2>Write a story</h2>
    <p>Good commits tell a story. They add necessary context to your file changes. For reviews and debugging sessions months from now.</p>
    <ul>
      <li>
        <div class="hexagon"><span class="hexagon-text">1</span></div>
        <div class="list-description">
        <div class=list-heading>Explain why the commit is needed</div>
        <div class=list-text>Explain what error occurred or what issue a user reported. If the commit adds a new feature, explain why it was added. Refactoring a part of the code base? Describe how to old code wasn't working.</div>
        </div>
      </li>
      <li>
        <div class="hexagon"><span class="hexagon-text">2</span></div>
        <div class="list-description">
          <div class=list-heading>Describe what was changed</div>
          <div class=list-text>In the commit message, explain why this implementation was chosen and what changes are especially important. List any alternatives that were considered and why they were not chosen. Write down the constraints that were present, like lack of time.</div>
        </div>
      </li>
      <li>
        <div class="hexagon"><span class="hexagon-text">3</span></div>
        <div class="list-description">
          <div class=list-heading>Link your sources</div>
          <div class=list-text>Include links to documentation, issues, blog posts, other parts of the code or other projects you consulted to make this change. Provide as much context as possible.</div>
        </div>
      </li>
    </ul>

    <div class="text-center cta">
      <a href="/docs/rules/" class="button button-secondary">Read about Lintje's rules</a>
    </div>
  </div>
</section>

<section class="home-section">
  <div class="container">
    <h2>Spot undescriptive commits</h2>
    <div class="two-columns">
      <div class="column-65">
        <p>A well written commit <strong>saves you hours</strong> of debugging. Good commits help you get unstuck without waiting for team members to respond to your call for help.</p>

        <p>Lintje helps you <strong>spot</strong> undescriptive commits and <strong>suggests</strong> steps to improve them.</p>

        <p><em>Don't forget: good commits contain a message with more detail!</em></p>
      </div>
      <!-- <div class="column-35 commits-box"> -->
      <!--   <ul> -->
      <!--     <li>"WTF?"</li> -->
      <!--     <li>"What does this do?"</li> -->
      <!--     <li>"Why is this here?"</li> -->
      <!--     <li>"Why is this like this?"</li> -->
      <!--     <li>"This could never have worked"</li> -->
      <!--     <li>"This is no longer necessary"</li> -->
      <!--   </ul> -->
      <!-- </div> -->
      <div class="column-35 commits-box">
        <ul>
          <li>WIP</li>
          <li>fix bug</li>
          <li>closes #123</li>
          <li>End of day backup</li>
          <li>add test</li>
          <li>[JIRA-123]</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<hr>

<section class="home-section">
  <div class="container">
    <h2>Resolve issues faster</h2>

    <p>Lintje helps resolve issues quickly. Lintje <a href="/docs/output/">explains the issue</a> by highlighting the problem is and showing how to resolve it.</p>

    <%= partial "usage_example" %>

    <div class="text-center cta">
      <a href="/docs/output/" class="button button-secondary">Learn about Lintje's output</a>
    </div>
  </div>
</section>

<hr>

<section class="home-section getting-started-section">
  <div class="container">
    <h2>Get started</h2>

    <div class="columns">
      <div class="box text-center">
        <div><a href="/docs/">Read the guides</a></div>
        <p>Learn more about how Lintje works and how to install it into your project.</p>
      </div>

      <div class="box text-center">
        <div><a href="https://tomdebruijn.com/posts/git-is-about-communication/">Git is about communication</a></div>
        <p>Read more about the philosophy of Lintje by reading the post that inspired it.</p>
      </div>
    </div>
  </div>
</section>
