.home-page {
  font-size: 1.3em;
}

.home-page .container {
  margin: 0 auto;
  max-width: var(--max-small-content-width);
}

.home-page h1,
.home-page h2 {
  margin-bottom: 40px;
  font-size: 60px;
  text-align: center;
}

.home-section {
  padding: 80px 20px;
}

.home-section:first-child {
  padding-top: 40px;
}

.home-section pre {
  margin-bottom: 0;
}

.hero-section p {
  text-align: center;
}

.dark-section {
  background-color: var(--secondary-color);
}

.columns {
  display: flex;
  gap: var(--spacing-normal);
}

.box {
  padding: var(--spacing-small);
  border-radius: var(--border-radius-tiny);
  background-color: var(--secondary-color);
}

.box a {
  font-size: 1.1em;
}

.box p {
  font-size: 1em;
}

.cta {
  margin-top: var(--spacing-normal);
  text-align: center;
}

.download-link {
  font-size: 0.8em;
}

@media (--mobile-breakpoint) {
  .home-page {
    font-size: 1.1em;
  }

  .home-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .hero-section p {
    text-align: left;
  }

  .columns {
    flex-direction: column;
  }
}
