.home-page {
  font-size: 1.3em;
}

.home-page .container {
  margin: 0 auto;
  max-width: var(--max-small-content-width);
}

.home-page h1,
.home-page h2 {
  margin-bottom: 40px;
  font-size: 2.4em;
  text-align: center;
}

.home-section {
  --spacing-y: 80px;
  padding: var(--spacing-y) 20px;
}

.home-section:first-child {
  padding-top: 40px;
}

.home-section pre {
  margin-bottom: 0;
}

.hero-section p {
  text-align: center;
}

.dark-section {
  --shape-height: 50px;
  padding-top: calc(var(--shape-height) + var(--spacing-y));
  position: relative;
  background-color: var(--secondary-color);
}

.dark-section:before,
.dark-section:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--shape-height);
}

.dark-section:before {
  z-index: 2;

  background-image: url(/images/shape-3.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: rotate(180deg);
}

.dark-section:after {
  z-index: 1;

  background-color: var(--secondary-color);
}

.getting-started-section {
  padding-top: 0;
}

.columns {
  display: flex;
  gap: var(--spacing-normal);
}

.box {
  padding: var(--spacing-small);
  border-radius: var(--border-radius-tiny);
  background-color: var(--secondary-color);
  box-shadow: 8px 8px 0px var(--tertiary-dark-color);
}

.box a {
  font-size: 1.1em;
}

.box p {
  font-size: 1em;
}

.cta {
  margin-top: var(--spacing-normal);
  text-align: center;
}

.download-link {
  font-size: 0.8em;
}

@media (--mobile-breakpoint) {
  .home-page {
    font-size: 1.1em;
  }

  .home-section {
    --spacing-y: 40px;
  }

  .hero-section p {
    text-align: left;
  }

  .dark-section {
    --shape-height: 20px;
  }

  .columns {
    flex-direction: column;
  }
}
