<footer class="footer">
  <div class="links">
    <%= link_to "Code of Conduct", "/code-of-conduct/" %>
    <%= link_to "Source Code", site.metadata.github_repo %>
    <%= link_to "Get help", "/docs/support/" %>
  </div>
</footer>
