<table>
  <thead>
    <tr>
      <th class="td-width-50p">Rule name</th>
      <th>Rule type</th>
    </tr>
  </thead>
  <tbody>
<% rule_resources.each do |resource| %>
<% name = resource.data.name %>
    <tr>
      <td><%= link_to name, rule_path(name) %></td>
      <td>
        <span title="<%= rule_type_description(resource.data.fetch(:type)) %>">
          <%= raw rule_type_icon_with_label resource.data.fetch(:type) %>
        </span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
