<pre class="highlight-custom"><code><span class="color-gray">$</span> lintje
<span class="color-red">Error[SubjectTicketNumber]</span>: The subject contains a ticket number
  <span class="color-gray">883a427:1:10:</span> Fix bug. Closes #123
  <span class="color-gray">  |</span>
  <span class="color-gray">1 |</span> Fix bug. Closes #123
  <span class="color-gray">  |</span>          <span class="color-yellow">----------- Remove the ticket number from the subject</span>
  <span class="color-gray"> ~~~</span>
  <span class="color-gray">3 |</span> Closes #123
  <span class="color-gray">  |</span> <span class="color-green">+++++++++++ Move the ticket number to the message body</span>
  <span class="color-gray">  |</span>
  <span class="color-gray">  =</span> help: https://r.lintje.dev/r/SubjectTicketNumber

<span class="color-red">Error[SubjectCliche]</span>: The subject does not explain the change in much detail
  <span class="color-gray">9a2ae29:1:1:</span> Fix bug
  <span class="color-gray">  |</span>
  <span class="color-gray">1 |</span> Fix bug
  <span class="color-gray">  |</span> <span class="color-orange">^^^^^^^ Describe the change in more detail</span>
  <span class="color-gray">  |</span>
  <span class="color-gray">  =</span> help: https://r.lintje.dev/r/SubjectCliche

<span class="color-red">Error[MessagePresence]</span>: No message body was found
  <span class="color-gray">9a2ae29:3:1:</span> Fix bug
  <span class="color-gray">  |</span>
  <span class="color-gray">1 |</span> Fix bug
  <span class="color-gray">2 |</span>
  <span class="color-gray">3 |</span>
  <span class="color-gray">  |</span> <span class="color-green">+++ Add a message body with context about the change and why it was made</span>
  <span class="color-gray">  |</span>
  <span class="color-gray">  =</span> help: https://r.lintje.dev/r/MessagePresence

<span class="color-red">Error[BranchNameTicketNumber]</span>: A ticket number was detected in the branch name
  <span class="color-gray">Branch:1:</span> fix-123
  <span class="color-gray">|</span>
  <span class="color-gray">|</span> fix-123
  <span class="color-gray">|</span> <span class="color-orange">------- Remove the ticket number from the branch name or expand the branch name with more details</span>
  <span class="color-gray">|</span>
  <span class="color-gray">=</span> help: https://r.lintje.dev/r/BranchNameTicketNumber

2 commits and branch inspected, <span class="color-red">4 errors detected</span></code></pre>
