<pre class="highlight-custom"><code><span class="color-gray">$</span> lintje
<span class="color-red">Error[SubjectTicketNumber]</span>: The subject contains a ticket number
  <span class="color-gray">883a427:1:10:</span> Fix bug. Closes #123
  <span class="color-gray">  |</span>
  <span class="color-gray">1 |</span> Fix bug. Closes #123
  <span class="color-gray">  |</span>          <span class="color-yellow">----------- Remove the ticket number from the subject</span>
  <span class="color-gray"> ~~~</span>
  <span class="color-gray">3 |</span> Closes #123
  <span class="color-gray">  |</span> <span class="color-green">+++++++++++ Move the ticket number to the message body</span>
  <span class="color-gray">  |</span>
  <span class="color-gray">  =</span> help: https://r.lintje.dev/r/SubjectTicketNumber

<span class="color-red">Error[SubjectCliche]</span>: The subject does not explain the change in much detail
  <span class="color-gray">9a2ae29:1:1:</span> Fix bug
  <span class="color-gray">  |</span>
  <span class="color-gray">1 |</span> Fix bug
  <span class="color-gray">  |</span> <span class="color-orange">^^^^^^^ Describe the change in more detail</span>
  <span class="color-gray">  |</span>
  <span class="color-gray">  =</span> help: https://r.lintje.dev/r/SubjectCliche

2 commits and branch inspected, <span class="color-red">2 errors detected</span></code></pre>
