<pre class="highlight-custom"><code>$ lintje
<span class="color-red">Error[SubjectTicketNumber]</span>: The subject contains a ticket number
  883a427:1:10: Fix bug. Closes #123
    |
  1 | Fix bug. Closes #123
    |          <span class="color-orange">^^^^^^^^^^^ Remove the ticket number from the subject</span>
   ~~~
  3 | Closes #123
    | <span class="color-blue">----------- Move the ticket number to the message body</span>

<span class="color-red">Error[SubjectCliche]</span>: The subject does not explain the change in much detail
  9a2ae29:1:1: Fix bug
    |
  1 | Fix bug
    | <span class="color-orange">^^^^^^^ Describe the change in more detail</span>

<span class="color-red">Error[MessagePresence]</span>: No message body was found
  9a2ae29:3:1: Fix bug
    |
  1 | Fix bug
  2 |
  3 |
    | <span class="color-orange">^ Add a message body with context about the change and why it was made</span>

<span class="color-red">Error[BranchNameTicketNumber]</span>: A ticket number was detected in the branch name
  Branch:1: fix-123
  |
  | fix-123
  | <span class="color-orange">^^^^^^^ Remove the ticket number from the branch name or expand the branch name with more details</span>

2 commits and branch inspected, <span class="color-red">4 errors detected</span></code></pre>
